{% extends 'base_back.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="card-body row justify-content-center align-self-center">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal text-white text-center">Caribeean Food</h1>
            <h1 class="h3 mb-3 font-weight-normal text-white">Connectez-vous à l'administration</h1>
            <div class="input-group form-group ">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="form-group text-center">
                <button type="submit" class="btn btn-warning">Connexion</button>
            </div>
            <a class="text-light" href="{{ path("register") }}">Inscrivez-vous</a>
        </form>
    </div>

<style>
    body{
        background-image: url(../img/fond-form.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    form{
	    background-color: rgba(0,0,0,0.5) !important;
        padding: 50px;
        border-radius: 10px;
    }
</style>
{% endblock %}
