{% extends 'base.html.twig' %}

{% block title %}A propos de nous{% endblock %}

{% block body %}
    <!-- About Section -->
    <div id="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-6 about-img"> </div>
        <div class="col-xs-12 col-md-3 col-md-offset-1">
          <div class="about-text">
            <div class="section-title">
              <h2>Notre histoire</h2>
            </div>
            <p>C’est en 2018 que Mathieu et Fabrice ouvrent le restaurant Caribbean Food. Niché au cœur dans le centre ville de Lyon, l’endroit se veut chaleureux et rencontre un succès immédiat en proposant une cuisine traditionnelle caribebean, plus précisément antillaise basée sur des plats simples et locaux.</p>
            <p>En moins d'un an, le restaurant connu un succès incroyable qui lui permis d'être déja reconnu parmi les restaurants de référence qui propose de la cuisine antillaise au sein de la ville de Lyon.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}