{% extends 'base.html.twig' %}

{% block title %}Nos plats caraibéen {% endblock %}

{% block body %}
      <!-- Restaurant Carte Section -->
  <div id="restaurant-menu">
    <div class="container">
      <div class="section-title text-center">
        <h2>Menu</h2>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h2 class="menu-section-title">Plat</h2>
            {% for plat in plats %}
              <div class="menu-section">
                <div class="menu-item">
                  <div class="menu-item-name">{{ plat.Nom }}</div>
                  <div class="menu-item-price" style="color : #d43031" > {{ plat.Prix }} € </div>
                  <img src="{{ asset('uploads/'~ plat.Photo) }}" class="rounded mx-auto d-block" alt="plat" width="200px" heigth="auto">
                  <div class="menu-item-description"> {{ plat.Description }} </div>
                </div>
              </div>
            {% endfor %}
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="menu-section">
            <h2 class="menu-section-title">Boissons</h2>
            <div class="menu-item">
              <div class="menu-item-name">Roast Stuffed Chicken</div>
              <div class="menu-item-price"> $18 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Chicken & Mushroom Pasta</div>
              <div class="menu-item-price"> $20 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Beef Lasagne</div>
              <div class="menu-item-price"> $14 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Chicken Goujons</div>
              <div class="menu-item-price"> $19 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="menu-section">
            <h2 class="menu-section-title">Dinner</h2>
            <div class="menu-item">
              <div class="menu-item-name">Sesame-Ginger Beef</div>
              <div class="menu-item-price"> $15 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Crispy Fried Chicken</div>
              <div class="menu-item-price"> $17 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Mongolian Shrimp & Broccoli</div>
              <div class="menu-item-price"> $18 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Spicy Coconut Salmon</div>
              <div class="menu-item-price"> $20 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="menu-section">
            <h2 class="menu-section-title">Desserts</h2>
            <div class="menu-item">
              <div class="menu-item-name">Chocolate Mud Cake</div>
              <div class="menu-item-price"> $11 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Bourbon-Pecan Tart</div>
              <div class="menu-item-price"> $14 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Texas Sheet Cake</div>
              <div class="menu-item-price"> $15 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Vanilla Cheesecake</div>
              <div class="menu-item-price"> $18 </div>
              <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Gallery Section -->
  <div id="gallery">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <div class="gallery-item"> <img src="img/gallery/01.jpg" class="img-responsive" alt=""></div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="gallery-item"> <img src="img/gallery/02.jpg" class="img-responsive" alt=""></div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="gallery-item"> <img src="img/gallery/03.jpg" class="img-responsive" alt=""></div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="gallery-item"> <img src="img/gallery/04.jpg" class="img-responsive" alt=""></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


