{% extends "base.html.twig" %}

{% block title %}Bienvenue sur Caribbéan Food{% endblock %}

{% block body %}

  <!-- Header -->
  <header id="header">
    <div class="intro">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="intro-text">
              <h1>Caribbean Food</h1>
              <p>Reservez au : 09 45 12 87 35</p>
              <span>Venez découvrir nos plats tous divers et variés qui vous ferons voyager vers différentes saveurs</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Features Section -->
  <div id="features" class="text-center">
    <div class="container">
      <div class="section-title">
        <h2>Nos spétialités antillaises</h2>
      </div>
      <div class="row">
      {% for plat in plats %}
          <div class="col-xs-12 col-sm-4">
            <div class="features-item">
              <h3>{{ plat.Nom }}</h3>
              <img src="{{ asset('uploads/'~ plat.Photo) }}" class="img-responsive" alt="image">
              <p>{{ plat.Description }}</p>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>

  <!-- horraire Section -->
  <div id="team">
    <div class="container">
      <div id="row">
        <div class="col-md-6">
          <div class="col-md-10 col-md-offset-1">
            <div class="section-title">
              <h2>Nos horraires</h2>
            </div>
            <h4>Venez dégustez vos plat préférés</h4>
            <ul>
              <li>Lundi : FERME</li>
              <li>Mardi : De 11h à 14h30 puis De 18h00 à 22h30</li>
              <li>Mercredi : De 11h à 14h30 puis De 18h00 à 22h30</li>
              <li>Jeudi : De 11h à 14h30 puis De 18h00 à 22h30</li>
              <li>Vendredi : De 11h à 14h30 puis De 18h00 à 22h30</li>
              <li>Samedi : De 11h à 14h30 puis De 18h00 à 23h00</li>
              <li>Dimanche : De 11h à 14h30 puis De 18h00 à 23h00</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="team-img"><img src="{{ asset('\img/horraire.jpg') }}" alt="horraire_ouverture"></div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}

