{% extends "base.html.twig" %}

{% block title %}Bienvenue sur Caribbéan Food{% endblock %}

{% block body %}

  <!-- Header -->
  <header id="header">
    <div class="intro">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="intro-text">
              <h1>Caribbean Food</h1>
              <p>Reservez au : 09 45 12 87 35</p>
              <span>Venez découvrir nos plats tous divers et variés qui vous ferons voyager vers différentes saveurs</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Features Section -->
  <div id="features" class="text-center">
    <div class="container">
      <div class="section-title">
        <h2>Nos spétialités antillaises</h2>
      </div>
      <div class="row">
      {% for plat in plats %}
          <div class="col-xs-12 col-sm-4">
            <div class="features-item">
              <h3>{{ plat.Nom }}</h3>
              <img src="{{ asset('uploads/' ~ plat.Photo) }}" class="img-responsive" alt="image">
              <p>{{ plat.Description }}</p>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>

  <!-- Team Section -->
  <div id="team">
    <div class="container">
      <div id="row">
        <div class="col-md-6">
          <div class="col-md-10 col-md-offset-1">
            <div class="section-title">
              <h2>Meet Our Chef</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="team-img"><img src="img/chef.jpg" alt="..."></div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}

