{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <div id="bg-reservation">
        <div class="container" id="page-reservation" style="padding:100px 0 60px 0;">
            <br>
            <p><b>
            <span><b>*</b></span>N'attendez pas la dernière minute pour nous contacter, et profitez de notre système de réservation en ligne !!!
            </b></p>
            <div class="text-center">
            <h1>Reservez votre table</h1>
            <div id="formulaire-reservation">
                <form method="POST" action="">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="nom">Nom</label>
                            <input type="text" class="form-control" placeholder="Entrez votre nom" id="nom" name="nom"  required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="prenom">Prenom</label>
                            <input type="text" class="form-control" placeholder="Entrez votre prenom" id="prenom" name="prenom" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" placeholder="Entrez votre email" id="email" name="email"  required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="phone">Téléphone</label>
                            <input type="tel" class="form-control" placeholder="Entrez votre numéro de téléphone" id="prenom" name="phone"  required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="date">Date</label>
                            <input type="date" class="form-control"id="date" name="date" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="heure">Heure</label>
                            <input type="time" class="form-control" id="heure" name="heure"  required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="nombre_convive">Nombre de convives</label>
                            <select name="convive" required>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>+6</option>
                            </select>
                        </div>
                        <div class="form-group col-md-8">
                            <label>Message</label>
                            <textarea style="resize:none;" class="form-control" rows="5" placeholder="Table en terrasse, table ronde, etc..."></textarea>
                        </div>
                    </div>
                    <button  style="position: relative; right: 12%;"class="btn btn-danger" type="submit" name="reserver">Réseverver</button>
                </form>
            </div>
            <br>
            <p><b>(<span>*</span>)Réservation minimum 12h avant l'heure d'arrivée au restaurant. Sous réserve de place disponible.</b></p>
        </div>
    </div>
    
{% endblock %}