{% extends 'base-erreur.html.twig' %}

{% block body %}
    <div id="content-404">
        <h1>Page 404 retourné Trompé de page</h1>
        <img src="/img/erreur/jungle.gif" alt="image_illustration">
        <p>Veuillez réessayer ultérieurement ou contactez nous au : 01 48 49 75 10</p>
    </div>
{% endblock %}