<form method="post" action="{{ path('delete_plat', {'id': plat.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer : {{ plat.Nom }}?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plat.id) }}">
    <button class="btn btn-warning btn-block text-white">Supprimer</button>
</form>
